<template name="Graph">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="col-md-8 column">
				<div id="graph_div" class="streamGraph">
				</div>
			</div>
			<div class="col-md-4 column">
				{{> graphSidebar}}
			</div>
		</div>
	</div>
</template>

<template name="graphSidebar">
	<h4 class="capitalize">{{query}} <small>	({{language}})</small></h4>
	<h5 class="text-info capitalize">{{prettifyDate first_date}}</h5>
	<h5 class="text-info capitalize">{{prettifyDate last_date}}</h5>
	<p class="capitalize" id="test">Lorem Ipsum</p>
	<div class="btn-group">
		<button type="button" value="hour" class="btn btn-change-period btn-default">Hours</button>
		<button type="button" value="day" class="btn btn-change-period btn-default">Days</button>
	</div>
	<div class="input-daterange input-group clear-top" id="datepicker">
		<input type="text" class="input-sm form-control" name="start" />
		<span class="input-group-addon">to</span>
		<input type="text" class="input-sm form-control" name="end" />
	</div>
</template>
