<template name="Graph">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="col-md-8 column">
				{{> streamGraph}}
			</div>
			<div class="col-md-4 column">
				<h4 class="capitalize">{{query}} <small>	({{language}})</small></h4>
				<h5 class="text-info capitalize">{{prettifyDate first_date}}</h5>
				<h5 class="text-info capitalize">{{prettifyDate last_date}}</h5>
				<span id="test">Lorem Ipsum</span>
			</div>
		</div>
	</div>
</template>

<template name="streamGraph">
	<div id="graph_div" class="streamGraph">
	</div>
</template>
