<template name="Home">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					Vortio Tool <small>Social Media Analytics Made Easy</small>
				</h1>
			</div>
			<div class="col-md-8 column">
				<p class="text-left">
					Discover <strong>trending</strong> conversations and their influencers about any subject <strong>automatically</strong>.
					Vortio automates the process of analyzing social media big data and delivers insights automatically
				</p>
				<p class="text-left">
					Our technology does all the hard work, so that you can concentrate on your strategy
					Find out the trending conversations, key influencers and metrics about anything you decide to track much faster than with any other tool
				</p>
				<p class="text-center">
					<strong>CONTACT US TO SCHEDULE A DEMO</strong>
				</p>
			</div>
			<div class="col-md-4 column">
				<img alt="470x360" src="http://vortio.com/img/about/image1.png" class="img-responsive" />
			</div>
		</div>
	</div>
	<div class="row clearfix clear-top">
		<div class="col-md-4 column">
			<p class="text-center">
				<span class="glyphicon glyphicon-screenshot bigger"></span>
			</p>
			<h4 class="text-center">
				INSTANT INSIGHTS
			</h4>
			<p class="clear-top">
				<em>Be the first to know any trending story about any subject.</em>
			</p>
		</div>
		<div class="col-md-4 column">
			<p class="text-center">
				<span class="glyphicon glyphicon-usd bigger"></span>
			</p>
			<h4 class="text-center">
				SAVE TIME AND MONEY
			</h4>
			<p class="clear-top">
				<em>Generate a comprehensive report in minutes instead of days.</em>
			</p>
		</div>		
		<div class="col-md-4 column">
			<p class="text-center">
				<span class="glyphicon glyphicon-heart bigger"></span>
			</p>
			<h4 class="text-center">
				SENTIMENT MEASUREMENT
			</h4>
			<p class="clear-top">
				<em>Clusters scoring builds a consistent sentiment metric.</em>
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
		</div>
	</div>
</template>
