<template name="Dashboard">
	<h1 class="page-header">Dashboard</h1>

	<div class="row placeholders">
		<div class="col-xs-6 col-sm-3 placeholder">
		<img src="http://samadvoip.com/images/client/1.png" class="img-responsive" alt="Generic placeholder thumbnail">
			<h4>Luke</h4>
			<span class="text-muted">Something else</span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<img src="http://samadvoip.com/images/client/1.png" class="img-responsive" alt="Generic placeholder thumbnail">
			<h4>i'm</h4>
			<span class="text-muted">Something else</span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<img src="http://samadvoip.com/images/client/1.png" class="img-responsive" alt="Generic placeholder thumbnail">
			<h4>your</h4>
			<span class="text-muted">Something else</span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<img src="http://samadvoip.com/images/client/1.png" class="img-responsive" alt="Generic placeholder thumbnail">
			<h4>father</h4>
			<span class="text-muted">Something else</span>
		</div>
	</div>

</template>
